In [1]:
print("Hello world!")

Hello world!

In [2]:
1+1

2

In [3]:
10 - 3

7

In [4]:
print("5 + 7 =", 5 + 7)
print("5 - 7 =", 5 - 7)
print("5 * 7 =", 5 * 7)
print("5 / 7 =", 5 / 7)

5 + 7 = 12
5 - 7 = -2
5 * 7 = 35
5 / 7 = 0.7142857142857143

In [6]:
print("2 ** 1 =", 2 ** 1)
print("2 ** 2 =", 2 ** 2)
print("2 ** 3 =", 2 ** 3)
print("2 ** 4 =", 2 ** 4)
print("2 ** 5 =", 2 ** 5)

2 ** 1 = 2
2 ** 2 = 4
2 ** 3 = 8
2 ** 4 = 16
2 ** 5 = 32

In [8]:
import random
l = random.sample(range(1, 46), 6)
l.sort()

print("오늘의 랜덤 로또번호는\n", l)

오늘의 랜덤 로또번호는
 [2, 25, 26, 38, 42, 43]

In [10]:
print('Hi', type('Hi'))
print('1', type('1'))
print(1, type(1))
print(1.234, type(1.234))

Hi <class 'str'>
1 <class 'str'>
1 <class 'int'>
1.234 <class 'float'>

In [11]:
str = "1"
print(str, type(str))
num = int(str)
print(num, type(num))

1 <class 'str'>
1 <class 'int'>

In [12]:
print("안녕하세요","제","이름은","파이썬입니다.")

안녕하세요 제 이름은 파이썬입니다.

In [13]:
print("안녕"+"하세요")
print("안녕하세요"+"!")

안녕하세요
안녕하세요!

In [15]:
print("안녕하세요"+1)

TypeError: can only concatenate str (not "int") to str

In [16]:
print("안녕하세요!"*3)
print("안녕" + "하세요!" * 3)
print(("안녕" + "하세요!") * 3)

안녕하세요!안녕하세요!안녕하세요!
안녕하세요!하세요!하세요!
안녕하세요!안녕하세요!안녕하세요!

In [17]:
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])
print("안녕하세요"[5])

안
녕
하
세
요

IndexError: string index out of range

In [18]:
print("안녕하세요"[1:3])
print("안녕하세요"[2:])
print("안녕하세요"[:2])

녕하
하세요
안녕

In [19]:
hello = "안녕하세요"
print(hello[2:5])
print(hello)
print(len(hello))

하세요
안녕하세요
5

In [20]:
print("hello")
print()
print("wrold")

hello

wrold

In [21]:
print("A: Hi! How's it going?")
print("B: Oh, great.")

A: Hi! How's it going?
B: Oh, great.

In [22]:
print("A: Hey, what's up?".ljust(40))
print("B: Not much, Bored.".rjust(40))

A: Hey, what's up?
                     B: Not much, Bored.

In [23]:
print("이름\t나이\t팀")
print("메시\t33\t바르셀로나")
print("손흥민\t28\t토트넘")
print("호날두\t32\t유벤투스")

이름	나이	팀
메시	33	바르셀로나
손흥민	28	토트넘
호날두	32	유벤투스

In [24]:
print("아기 상어 뚜 루루 뚜루\n귀여운 뚜 루루 뚜루\n바닷속 뚜 루루 뚜루\n아기 상어!")

아기 상어 뚜 루루 뚜루
귀여운 뚜 루루 뚜루
바닷속 뚜 루루 뚜루
아기 상어!

In [25]:
print("""아기 상어 뚜 루루 뚜루
귀여운 뚜 루루 뚜루
바닷속 뚜 루루 뚜루
아기 상어!
""")

아기 상어 뚜 루루 뚜루
귀여운 뚜 루루 뚜루
바닷속 뚜 루루 뚜루
아기 상어!

In [30]:
def abs_n(a):
    if(a >= 0):
        return a
    return -a

print("a = 1일 때,", abs_n(1))
print("a = -1일 때,", abs_n(-1))

a = 1일 때, 1
a = -1일 때, 1

In [32]:
import math
def abs_nn(a):
    b = a * a
    res = math.sqrt(b) # 제곱한 b에 제곱근을 취하여 결과를 할당
    return res
print("a = 1일 때,", abs_nn(1))
print("a = -1일 때,", abs_nn(-1))

a = 1일 때, 1.0
a = -1일 때, 1.0

In [2]:
# 첫 번째 방법 - 순차적으로 더하기

def sum_n(n):
    s = 0
    for i in range(1, n + 1):
        s = s + i
    return s

print("n = 10인 경우,", sum_n(10))
print("n = 100인 경우,", sum_n(100))
print("n = 1000인 경우,", sum_n(1000))

n = 10인 경우, 55
n = 100인 경우, 5050
n = 1000인 경우, 500500

In [3]:
# 두 번째 방법
def sum_nn(n):
    res = n * (n + 1) // 2 # 정수 나눗셈을 의미
    return res

print("n = 10인 경우,", sum_n(10))
print("n = 100인 경우,", sum_n(100))
print("n = 1000인 경우,", sum_n(1000))

n = 10인 경우, 55
n = 100인 경우, 5050
n = 1000인 경우, 500500

In [3]:
def sum_n(n):
    s = (n * (n + 1) * (2 * n + 1)) // 6
    return s

print("n = 10인 경우,", sum_n(10))
print("n = 100인 경우,", sum_n(100))
print("n = 1000인 경우,", sum_n(1000))

n = 10인 경우, 385
n = 100인 경우, 338350
n = 1000인 경우, 333833500

In [12]:
def find_max(a):
    n = len(a)
    max_v = a[0]
    for i in range(1, n):
        if a[i] > max_v:
            max_v = a[i]
    return max_v

v = [3, 23, 55, 65, 76, 56, 43, 97, 34, 13]

print("find_max(v)\n결과: ", find_max(v))

find_max(v)
결과:  97

In [18]:
def find_min(a): #최솟값 구하는 함수
    n = len(a)
    min_m = a[0]
    for i in range(1,n):
        if a[i] < min_m:
            min_m=a[i]
    return min_m

def find_min_idx(a): #최솟값의 위치를 찾는 함수
    n = len(a)
    index = 0;
    
    for i in range(1,n):
        if a[i] < a[index]:
            index = i
    return index

m = [23,45,53,32,12,22,41,54,64,38,49]

print("find_min(m)\n최솟값 :",find_min(m))
print("find_min_idx(m)\n최솟값 위치:",find_min_idx(m))

find_min(m)
최솟값 : 12
find_min_idx(m)
최솟값 위치: 4

In [22]:
# 동명이인 찾기
def find_same_name(a):
    n = len(a)
    res = set()
    for i in range(0, n - 1):
        for j in range(i + 1, n):
            if a[i] == a[j]:
                res.add(a[i])
    return res

name = ["캡틴", "아이언맨", "토르", "헐크", "블랙위도우", "타노스", "캡틴", "헐크", "블랙위도우"]
name2 = ["캡틴", "아이언맨", "토르", "헐크", "블랙위도우", "타노스", "아이언맨", "토르", "타노스"]

print("find_same_name(name)\n 결과:", find_same_name(name))
print("find_same_name(name2)\n 결과:", find_same_name(name2))

find_same_name(name)
 결과: {'블랙위도우', '헐크', '캡틴'}
find_same_name(name2)
 결과: {'타노스', '토르', '아이언맨'}